#crx-root .navBar {
    border-bottom: 1px solid rgb(216, 216, 220);
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#crx-root .navBar .navButton {
    background-color: transparent; 
    border: none; 
    box-shadow: none; 
    outline: none;
    cursor: pointer;
}

#crx-root .navBar .navButton img {
    width: 20px;
}