#crx-root .box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
}

#crx-root .promptbox {
    width: 90%;
    height: 115px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0.3rem 0;
    cursor: pointer;
    background-color: rgb(209, 209, 214);
}

#crx-root .web {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/websumm-hover.JPG');
    background-size: cover;
    background-position: center center;
}

#crx-root .web-select {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/websumm.JPG');
    background-size: cover;
    background-position: center center;
}

#crx-root .web:hover {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/websumm.JPG');
    background-size: cover;
    background-position: center center;
}

#crx-root .internet {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/internet-hover.png');
    background-size: cover;
    background-position: center center;
}

#crx-root .internet:hover {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/internet.png');
    background-size: cover;
    background-position: center center;
}

#crx-root .internet-select {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/internet.png');
    background-size: cover;
    background-position: center center;
}

#crx-root .youtube {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/youtube-hover.JPG');
    background-size: cover;
    background-position: center center;
}

#crx-root .youtube:hover {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/youtube.JPG');
    background-size: cover;
    background-position: center center;
}
#crx-root .youtube-select {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/youtube.JPG');
    background-size: cover;
    background-position: center center;
}

#crx-root .action {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/action-hover.png');
    background-size: cover;
    background-position: center center;
}


#crx-root .action:hover {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/action.png');
    background-size: cover;
    background-position: center center;
}

#crx-root .action-select {
    background-image: url('chrome-extension://eadkmjkaoialogbcgnhimpnbmflnoocl/src/assets/action.png');
    background-size: cover;
    background-position: center center;
}

#crx-root .checkbox {
    background-color: transparent;
    width: 27px;
    height: 14px;
    border: 1px solid #f5f5f7;
    margin: 0.63rem 0.5rem;
    border-radius: 1rem;
}

#crx-root .checkbox img{
    display: none;
}

#crx-root .checkbox-select {
    background-color: rgb(200, 242, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 14px;
    border: 1px solid #111111;
    margin: 0.63rem 0.5rem;
    border-radius: 1rem;
}

#crx-root .checkbox-select img {
    width: 15px;
}


