#crx-root .userprompt {
    position: fixed;
    bottom: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#crx-root .userprompt .inputwrap {
    width: 90%;
    border: 0.5px solid rgb(54, 54, 56);
    outline: 5px solid #e8e8e8;
    background-color: white;
    padding: 0.6rem 0.88rem;
    font-size: 1rem;
    color: #8e8e93;
    border-radius: 1.5rem;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#crx-root .userprompt .inputwrap .sendprompt {
    font-family: "NothingFont", Helvetica;
    font-size: 1rem;
    color: black;
    margin-left: 8px;
    margin-top: 1.3px;
    padding: 2px 6.109px;
}

#crx-root .userprompt .inputwrap .sendprompt:hover {
    background-color: rgb(54, 54, 56);
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 6.109px;
}

#crx-root .userprompt .inputwrap textarea {
    box-sizing: border-box;
    font-family: "UniversRegular", Helvetica;
    font-size: 1rem;
    color: black;
    width: 100%;
    outline: none;
    resize: none;
    display: flex;
    border: none;
    max-height: 88px;
    margin-bottom: 3px;
}